@mixin botaoPrimario {
    background-color: $PrimaryColor02;
    color: $Branco;
}

@mixin botaoOutline {
    background-color: $Branco;
    color: $PrimaryColor02;
    border: 1px solid $PrimaryColor02;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primaria {
       @include botaoPrimario;

        &:hover{
           @include botaoOutline;
        }
    }

    &.outline {
        @include botaoOutline;

        &:hover {
            @include botaoPrimario;
        }
    }

    &:disabled {
        opacity: 0.5;
    }
}