@import 'variables.scss';
@import '../public/fonts/fonts.scss';
@import '../components/botao/botao.scss';
@import '../components/inputPublico/inputPublico.scss';
@import './paginaPublica.scss';

html, body, #__next {
  height: 100%;
  margin: 0;
}

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

*{
  font-family: $fontRegular;
  font-size: 14px;
}

.oculto{
  display: none;
}

input {
  // CHROME, OPERA, SAFARI E FIREFOX
  &::placeholder{
    color: $Cinza02;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    // IE 10-11
    color: $Cinza02;
  }

  &::-ms-input-placeholder {
    color: $Cinza02;
  }

}
