@import 'variables.scss';
@import '../public/fonts/fonts.scss';
@import '../components/botao/botao.scss';

.avatar{
  border-radius: 50%;
  object-fit: cover;
}

*{
  font-family: $fontRegular;
  font-size: 14px;
}

