.publicPage {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 0 32px;

    .logoContainer{
        position: relative;
        height: 13%;
        width: 100%;
        margin-bottom: 50px;
    }

    .publicPageContent {
        width: 100%;

    }

    .btn {
        margin-top: 15px;
        padding: 10px;
    }

    .rodapePaginaPublica {
        text-align: center;
        margin-top: 24px;

        p{
            color: $Cinza03;
            margin: 0px 0px 2px;
        }

        a {
            color: $PrimaryColor02;
            font-family: $fontBold;

        }
    }

   @media screen and (min-width: $desktopBreakpoint){
        flex-direction: row;
   }
    
}