$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$Preto: #000000;
$Cinza04: #333333;
$primaryColor02: #5E49FF;
$Cinza03: #4D4C4D;
$primaryColor03: #25CBD3;
$Cinza01: #DADADA;
$Branco: #FFFFFF;
$primaryColor04: #F0F5FF;
$primaryColor01: #3BD42D;
$Cinza02: #7C7786;
$Devaria02: #5E49FF;
$Devaria07: #7C7786;
$Auxiliar03: #FFFFFF;
$Cinza00: #F4F4F4;
$gradient: linear-gradient(180deg, #5E49FF 0%, #25CBD3 100%);

$desktopBreakpoint: 992px;

